<div class="card mb-5">
    <a href="/article/{{id}}">
        <header class="card-header">
            <p class="card-header-title">{{title}}</p>
            <p class="my-3 mx-4">Posted by {{user.username}} on {{format_date createdAt}}</p>
        </header>
    </a>
        <div class="card-content">
            <div class="content">
                <p>{{content}}</p>
            </div>                    
        </div>
</div>